body {

    color: #000000;
    background-color: rgb(236, 192, 192);
  }
 
 .tag {
     font-family: inherit; 
     font-size: 1rem;
    }  

.jumbotron {
    background-image: url("../images/bacteria.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: rgb(67, 67, 63);
  }